.sidebar{
    display:flex;
    align-items:start;
    justify-content:center;
    flex-direction:column;
    margin-top: 6rem;
}

.container{
    margin-top:30%!important ;
}

.sidebar button{
    background:transparent;
    border:none;
    font-family: poppins;
font-weight: 500;
font-size: 14px;
line-height: 24px;
letter-spacing: 0%;
color: #919191;
padding-top: 8px;
padding-right: 12px;
padding-bottom: 8px;
padding-left: 12px;
transition: .3s ease all;
margin:0rem 0;
}

.sidebar button:hover,
.sidebar button:active{
    width: 184;
height: 40;
gap: 8px;
padding-top: 8px;
padding-right: 12px;
padding-bottom: 8px;
padding-left: 12px;
border-radius: 6px;
background:#E8E9FD!important;
color: #070A45!important;
}

.terms{
   margin-top: 4rem;
}
.terms h1{
    font-family: General Sans;
font-weight: 600;
font-size: 48px;
line-height: 130%;
letter-spacing: -2px;
vertical-align: middle;
color:#070A45;
}

.terms h2{
    font-family: General Sans;
font-weight: 600;
font-size: 28px;
line-height: 42px;
letter-spacing: -2%;
color: #3F3E3E;
}

.terms p{
    font-family: General Sans;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
color: #767676;
}

.toggle-icon {
    margin-right: 10px;
    width:3%;
    margin-top:-10px;
}


.faq-item {
    cursor: pointer;
    margin-bottom: 10px;
    transition:.3s ease all;

}

.faq-item.active {
    background-color: #F9FAFB;
    border-radius:1rem;
    padding:1rem;
    margin-left:-.9rem;
}

.faq-item h2{
    font-family: General Sans;
font-weight: 500;
font-size: 18px;
line-height: 28px;
letter-spacing: 0%;
color: #070A45;
}

.faq-item p{
    font-family: General Sans;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
color: #79767D;
}

.faq-item .timer img{
    width:10%!important;
}

.timer{
    width:3%!important;
    margin-right:.5rem;
    margin-top:-10px;
}
.faq-content {
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 5px;
    margin-left: 1.5rem;
}

.contact h1{
    font-family: Bricolage Grotesque;
font-weight: 600;
font-size:24px;
line-height: 130%;
letter-spacing: -2px;
vertical-align: middle;
text-align: start;
color:#1117A2;
}

.contact h2{
    font-family: Bricolage Grotesque;
font-weight: 600;
font-size: 18px;
line-height: 9px;
letter-spacing: -2%;
text-transform: uppercase;
color:#070A45;
}

.contact p{
    font-family: General Sans;
font-weight: 400;
font-size: 12px;
line-height: 30px;
letter-spacing: 0%;
text-align: start;
color:#667085;
}

.address-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: .5rem;

}


.address-column {
    text-align: center;
    cursor: pointer;
    padding: 10px;
    border-top: 5px solid transparent;
}

.address-column h3{
    font-family: Maison Neue Extended;
font-weight: 500;
font-size: 12px;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
color: #101828;
}

.address-column p{
    font-family: Maison Neue Extended;
font-weight: 400;
font-size: 16px;
line-height: 10px;
letter-spacing: 0%;
text-align: center;
color: #667085;
}

.grey-line {
    width: 100%;
    height: 6px;
    background-color: #F2F4F7;
    position: relative;
    margin-top: 2rem;
}
.blue-line {
    width: 33.33%;
    height: 6px!important;
    background-color: #2D35E9;
    position: absolute;
    top: 0;
    transition: left 0.3s;
}

.contact_us{
    display: flex;
    align-items: start;
    width: 100%;
    justify-content: start;
    flex-direction: column;
}

.map{
    background: url(../../asset/content.png);
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

.form h1{
    font-family: poppins;
font-weight: 600;
font-size: 19px;
line-height: 42px;
letter-spacing: -2%;
text-transform: uppercase;
color: #070A45;
}

.form p{
    font-family:poppins;
font-weight: 400;
font-size: 20px;
line-height: 30px;
letter-spacing: 0%;
color: #667085;
}

.first {
    width: 89%;
    margin-top: 2rem;
}
.first input::placeholder{
color:#667085;
    margin-left: 5px;
}



.firsts{
    margin-left: 2rem;
    width: 100%;
}

input, textarea{
    padding:10px;
    width:100%;
    border:1px solid #c3c9d5;
    border-radius: 10px;;
}

textarea{
    height: 7rem;;
}

label{
    color: #070A45;
}

.contact_us button{
    background:#2D35E9;
    color:white;
    border:none;
    display:block;
    width:89%;
    padding:1rem 0;
    margin-top:1.4rem;
    border-radius:.4rem;
    transition:.6s ease all;
}

.contact_us button:hover{
    background:#525bff;
}

.agreement{
    display:flex;
    align-items: center;
    justify-content: center;
}

.agreement input{
   width: unset;
   margin-right:.4rem;
   margin-top: -13px;;

}

.agreement p a{
   color: #667085 !important; 
   text-decoration: underline!important;
}

.help p{
    font-family: poppins!important;
    font-size: 13px;
}


@media screen and (max-width:768px){
    .address-column p {
        font-size: 14px;
    }
    .first {
        width: 100%;
        margin-top: 2rem;
    }

    .contact_us button {
        background: #2D35E9;
        color: white;
        border: none;
        display: block;
        width: 100%;
    }
}


@media screen and (max-width:425px){
    .address-column p {
        font-size: 6px;
        text-align: start;
        line-height:9px;
    }

    form{
        width:108%;
    }

    form h1{
  font-size: 15px;
    }
    .help p {
        font-family: poppins !important;
        font-size: 11px;
        line-height: 19px;
    }
}