.container_slide {
    display: flex;
 
    background:#000000;
    position:relative;
    overflow: hidden;
    width:100%;
    flex-direction:column;
    background:url(../../asset/slider_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height:100vh;


}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    height:30vh;
}

.slides {
    height:30vh;
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide {
    flex: 1 0 33.33%;
    transition: all 0.5s ease-in-out;
    opacity: 0.5;
    transform: scale(0.8);
    position: relative;
}

.slide img {
    width: 130%!important;
    height: auto;
    display: block;
}

.slide.highlight {
    opacity: 1;
    transform: scale(1);
    z-index: 2;
}

.slide.left,
.slide.right {
    opacity: 0.7; /* Slightly more opaque than the default */
    transform: scale(0.9); /* Slightly larger than the default */
    z-index: 1;
    overflow: visible;
}

.navigation {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10%;
    width: 100%;
    /* transform: translateY(-50%); */
}

.navigation button {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px;
    margin:0 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}



.navigation button:hover {
    background-color: rgba(255, 255, 255, 1);
}

.slide_title{
    font-family: General Sans;
font-weight: 600;
font-size: 48px;
line-height: 100%;
letter-spacing: -0.5px;
vertical-align: middle;
text-transform: uppercase;
color:#CAC5CD;
text-align: start;
padding:4rem;
width:60%;
}

.profile_card{
display:flex;
height:30vh;
align-items:center;
justify-content:center;
}

.profile_card img{
height:100%;
}

.navigation #prev, .navigation #next{
    width:4%;
    margin:0 1rem;
}