.card{
  background: #080808!important;
  border: 1.25px solid #1C1C1C!important;
  border-radius: 30px!important;
  z-index: 0;
  min-height:30vh;
}



.card-inner{
  display:flex;
  align-items:center!important;
  flex-direction:column!important;
  justify-content:center;
  gap:1rem;
  min-height:10vh;
  position:relative;
}
.custom-dropdown select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('https://flagcdn.com/w40/ng.png') no-repeat 5px center;
  background-size: 20px;
  padding-left: 30px;
  font-size: 16px;
  height: 40px;
  border-radius: 16px;
}

.card-inner input{
  border:none;
  outline:none;
  background:transparent!important;
  height:5rem;
  text-align: center;
  display: flex;
  font-weight:bold;
  font-size: 3.4rem;
  font-size: 1.9rem;
  outline:none!important;


  align-items:center;
}

/* input{
} */
/* 
.card-inner input::placeholder{
} */

input:focus input::-ms-value{
  border:none!important;
  outline:none!important;
}

.custom-select {
  border: 1.25px solid  #1D1B20!important;
  background: #0F0F0F!important;
  color: #fff!important;
  border-radius:3rem!important;
  padding: 0.5rem 2rem 0.5rem 0.75rem;
}

.form-select span{
  position:absolute;
  bottom:0;
}

.exc{
  display:flex;
  align-items:center;
  justify-content:center;
}
.desktop_rate{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rate_charge {
  margin-top: 1rem;
  height: 1vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.grey-text{
  font-family:poppins;
font-weight: 500;
font-size: 16.97px;
line-height: 133%;
color:#737373;
}

.marquee_1{
   background:#2E2300;
    padding: 3px;
    border-radius:10px;
    color: #CC9C00;
    white-space: nowrap;
  
}



.mobile_rate{
  display:none;
}


@media screen and (max-width:925px){

  .desktop_rate{
    display: none;
  }

  
.mobile_rate{
  flex-direction: column;
  padding:1rem;
  min-height:auto;
  background-color: #000;;
  display:flex;
  align-items:center;
  border-radius: 1rem;
  justify-content: center;
}

.mobile_rate  .form-select {
  width:100%!important;
}

.mobile_swap{
  display:flex!important;
  width:100%;
  align-items:center!important;
  justify-content:center!important;
}

.mobile_swap p{
  height:100%!important;
}

  .card-inner input {
    border: none;
    outline: none;
    background: transparent !important;
    height:3rem;
    text-align: center;
    display: flex;
    font-weight: bold;
    font-size: 1.4rem;
}

.card-inner input::placeholder{
  font-size: 2rem;
  display: block!important;
}
.mobile_rate h5{
  text-align: left!important;
  width:100%;
  font-size: 13px;
  color:#212529;
}
.swap_img{
  width:15%;
}

marquee{
  width:100%;
  font-size: 7px!important;
}

.mobile_rate .card{
  min-height:5vh;
}
.card-inner{
  gap:0rem;
}

.mobile_rate .rate_charge{
  display:flex!important;
  align-items:center!important;
  justify-content:space-between!important;
  margin-top: 3rem;
  width:100%;
}

.mobile_rate .rate_charge p{
  font-size: 10px;
}

.marquee{
  background:#2E2300;
  padding: 5px;
  font-size: 10px!important;
  line-height: 1rem!important;;
  border-radius:10px;
  color: #CC9C00!important;
}

.mid{
  font-size: 14px;
}
}


@media screen and (max-width:375px){

.mid{
  font-size: 10px;
}
}